{% for item in wishList %}
	<div class="product product-wishlist">
		{% for image in item.images|slice(0, 1) %}
			<figure class="product-media">
				<a href="product.html">
					<img src="{{ vich_uploader_asset(image, 'imageFile') }}" width="100" height="100" alt="product"/>
				</a>
				<button class="btn btn-link btn-close delete-wish" data-id="{{ item.id }}">
					<i class="fas fa-times"></i>
					<span class="sr-only">Close</span>
				</button>
			</figure>
		{% endfor %}
		<div class="product-detail">
			<a href="product.html" class="product-name">{{ item.title }}</a>
			<div class="price-box">
				<span class="product-price">${{ item.price }}</span>
			</div>
		</div>
	</div>
{% endfor %}
